<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h3 text-danger">
                    Shopping Cart
                </p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia maxime inventore beatae sapiente esse nostrum sunt tempora quibusdam eum, mollitia quidem itaque dolores perferendis corporis, totam iusto natus quaerat dignissimos!</p>
            </div>
            
        </div>
    </div>
</section>

<section class="mt-3">
    <div class="container">
        <div class="col-md-3" *ngFor="let product of products">
            <!-- <div class="card">
                <div class="card-header">
                    <img [src]="product.image" alt="" class="img-fluid">
                </div>
                <div class="card-body">
                   <ul class="list-group">
                        <li class="list-group-item"> Name : {{product.name}}</li>
                        <li class="list-group-item"> Price : {{product.price | currency: 'INR'}}</li>
                        <li class="list-group-item"> Qty : {{product.qty }}</li>
                   </ul>                    
                </div>                
            </div> -->
            <app-product [product]="product"></app-product>
        </div>
    </div>

</section>
