<div class="container">

    <div class="row">
        <div class="form-check form-switch">
            <input class="form-check-input" [(ngModel)]="darkTheme" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault"> switch to Default theme</label>

            <div style="width: 200px;" class="" [class.bg-success]="darkTheme">
                this is sample content
            </div>  
        </div>

    </div>
    
</div>